@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root{
    --tipography: 'Outfit', sans-serif;
    /* Primary Colors */
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /* Neutral Colors */
    --veryDarkBlue: hsl(217, 54%, 11%);
    --veryDarkBlue2: hsl(216, 50%, 16%);
    --veryDarkBlue3: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}
html {
    /* Reset para rems 62.5% = 10px */
    box-sizing: border-box;
    font-size: 62.5%;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
/*Global Styles*/
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-cyan{
    color: var(--cyan);
}
a{
    color: var(--white);
    text-decoration: none;
}
p, span{
    color: var(--softBlue);
}
.border{
    border: 1px solid black;
}
body{
    font-family: var(--tipography);
    font-size: 1.5rem;
    line-height: 2;
    height: 100vh;
    width: 100vw;
    background-color: var(--veryDarkBlue);
    overflow: hidden;
    flex-direction: column;
}
.container{
    flex-direction: column;
    width: 40rem;
    border-radius: 2rem;
    background-color: var(--veryDarkBlue2);
    padding: 2rem;
}
.container-image img{
    border-radius: 1rem;
    width: 35rem;
}
/* container-description */
.title{
    color: var(--white);
    margin: 0;
    margin-left: 2rem;
}
.description-text{
    width: 38rem;
    text-align: left;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    margin: 0 0 1rem 2rem;
}
.description-ETH{
    font-size: 1.8rem;
    justify-content: space-between;
}
.description-ETH img{
    margin-right: 0.5rem;
}
/* container-creation */
.container-creation{
    width: 100%;
    justify-content: left;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}
.creation-img img{
    width: 5rem;
    border-radius: 50%;
    margin-right: 2rem;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}